<style>
     .icon-md-primary {
            color: #50d2c2 !important;
        }
        ion-icon {
            display: inline-block;
            font-size: 1.2em !important;
        }
        [text-center] {
            text-align: center!important;
        }
    </style>


<ion-header>
  <ion-toolbar>
      <ion-buttons left="" class="bar-buttons bar-buttons-md">
          <button icon-only="" ion-button="" menutoggle="" class="bar-buttons bar-buttons-md bar-button bar-button-md bar-button-default bar-button-default-md bar-button-menutoggle bar-button-menutoggle-md"><span class="button-inner">
            <ion-icon name="ios-menu-outline" role="img" class="icon icon-md ion-ios-menu-outline" aria-label="menu outline"></ion-icon>
          </span><div class="button-effect" style="transform: translate3d(-16px, -15px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 264ms ease 0s, opacity 185ms ease 79ms;"></div></button>
        </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content content-md">
  <!-- <div class="fixed-content" style="margin-top: 64px;"></div> -->
  <div class="scroll-content" style="margin-top:40px;">
    <div class="profile-placeholder" text-center="">
      <ion-icon color="primary" name="ios-contact-outline" role="img" class="icon icon-md icon-md-primary ion-ios-contact-outline" aria-label="contact outline">
      </ion-icon>
    </div>
  
    <ion-list class="page-form login-form list list-md">
      <ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
            <ion-label class="item-label label label-md" stacked="" id="lbl-17">Email</ion-label>
              <ion-input type="text" value="admin-account" class="input input-md">
                <input class="text-input text-input-md" dir="auto" type="text" aria-labelledby="lbl-17" autocomplete="off" autocorrect="off" placeholder="Email" [(ngModel)]="email">
              </ion-input>
          <div class="button-effect"></div>
        </ion-item>
  
      <ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
       
            <ion-label class="item-label label label-md" stacked="" id="lbl-18">Password</ion-label>
              <ion-input type="password" value="admin" class="input input-md">
                <input class="text-input text-input-md" dir="auto" type="password" aria-labelledby="lbl-18" autocomplete="off" autocorrect="off" placeholder="****" [(ngModel)]="password">
              </ion-input>
            
            <ion-note class="input-note note note-md" item-end="">Forgot Password</ion-note>
        
          <div class="button-effect"></div></ion-item>
    </ion-list>
  
    <div class="button-container">
      <button block="" ion-button="" class="button button-md button-default button-default-md button-block button-block-md" (click)="myLogin()"><span class="button-inner">Sign In</span><div class="button-effect"></div></button>
    </div>
  
    <div class="account-text">
      Don't have an account?
      <span class="signup-button"> Sign up </span>
    </div>
  
  </div></ion-content>
<!-- 
<ion-content padding class="login_backgroundimg">
  <div>
    <img src="../../assets/imgs/4.jpg" class="img-logo">
  </div>
<form>


    <ion-item class="input_field">
      <ion-label floating> Email Address </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
 

    <ion-item class="input_field">
      <ion-label floating> Password </ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>
 
    
    <div class="form-button"> 
      <button ion-button block color="dark" >Login</button> 
    </div>  
</form>

<div text-center class="passwordlink">
  <a href="" >Forgot Password?</a>
</div>
<br><br>


<div class="form-button"> 
  <button ion-button block color="" (click)="register()">Sign Up</button> 
</div>  

  
</ion-content>
 -->
