page-register {
    
    .profile-placeholder{
        font-size: 120px !important;
    }
    .scroll-content {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      contain: size style layout;
    }
    .item-label-floating .input-wrapper, .item-label-stacked .input-wrapper {
      /* -webkit-box-flex: 1; */
      /* -webkit-flex: 1; */
      -ms-flex: 1;
      /* flex: 1; */
      /* -webkit-box-orient: vertical; */
      /* -webkit-box-direction: normal; */
      /* -webkit-flex-direction: column; */
      -ms-flex-direction: column;
      flex-direction: column;
    }
    ion-app.md {
      font-family: Lato,sans-serif !important;
      font-size: 1.4rem !important;
      background-color: #fff !important;
    }
    .scroll-content {
      padding: 24px !important;
    }
    .scroll-content {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
      display: block;
      /* overflow-x: hidden; */
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      contain: size style layout;
    }
    .button-block {
      display: block;
      clear: both;
      width: 100%;
      contain: strict;
    }
    .button-md {
      border-radius: 0;
      overflow: hidden;
      height: 55px;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: capitalize;
      color: #fff;
      background-color: #50d2c2;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
      transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
      transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1);
      transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
      margin: .4rem .2rem;
      padding: 0 1.1em;
    }
    .account-text {
      font-size: 10px !important;
      margin-top: 30px !important;
      text-align: center !important;
      /* text-transform: uppercase; */
      color: rgba(29,29,38,.5) !important;
    }
    .icon-md-primary {
        color: #50d2c2;
    }
    

}
