<ion-header>
  <ion-toolbar>
    <ion-buttons left>
     <button ion-button menuToggle  color="dark">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content content-md">

	<div class="scroll-content" style="">
		<div class="profile-placeholder" text-center="">
			<ion-icon color="primary" name="ios-person-add-outline" role="img" class="icon icon-md icon-md-primary ion-ios-person-add-outline" aria-label="person add-outline"></ion-icon>
		</div>
		<ion-list class="page-form signup-form list list-md">
			<ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
			
						<ion-label class="item-label label label-md" stacked="" id="lbl-19">Full name</ion-label>
						<ion-input type="text" value="admin" class="input input-md">
							<input class="text-input text-input-md" dir="auto" type="text" aria-labelledby="lbl-19" autocomplete="off" autocorrect="off" placeholder="" [(ngModel)]="username">
						</ion-input>
					
				<div class="button-effect"></div>
			</ion-item>
	
			<ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
				
						<ion-label class="item-label label label-md" stacked="" id="lbl-20">Email</ion-label>
						<ion-input type="email" value="admin@admin.com" class="input input-md">
							<input class="text-input text-input-md" dir="auto" type="email" aria-labelledby="lbl-20" autocomplete="off" autocorrect="off" placeholder="" [(ngModel)]="email">
						</ion-input>
					
				<div class="button-effect"></div>
			</ion-item>
	
			<ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
				
						<ion-label class="item-label label label-md" stacked="" id="lbl-21">Password</ion-label>
						<ion-input type="password" value="admin" class="input input-md">
							<input class="text-input text-input-md" dir="auto" type="password" aria-labelledby="lbl-21" autocomplete="off" autocorrect="off" placeholder="" [(ngModel)]="password">
						</ion-input>
				
				<div class="button-effect"></div>
			</ion-item>
	
			<!-- <ion-item class="form-item item item-block item-md item-datetime item-label-stacked input-has-value item-input-has-value">
				
					<ion-label class="item-label label label-md" stacked="" id="lbl-22">Birthday</ion-label>
					<ion-datetime displayformat="MM/DD/YYYY" class="datetime datetime-md ng-untouched ng-pristine ng-valid">
						<div class="datetime-text">01/01/2018</div>
						<button aria-haspopup="true" class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" type="button" id="datetime-22-0" aria-labelledby="lbl-22" aria-disabled="false">
							<span class="button-inner"></span>
							<div class="button-effect">
							</div>
						</button>
					</ion-datetime>
				
			<div class="button-effect"></div>
		</ion-item> -->
		</ion-list>
	
		<div class="button-container">
			<button block="" ion-button="" (click)="myRegister()" class="button button-md button-default button-default-md button-block button-block-md">
				<span class="button-inner">Create</span>
				<div class="button-effect"></div>
			</button>
		</div>
		<div class="account-text">
			Already have an account?
			<span class="signin-button"> Sign in </span>
		</div>
	
	</div></ion-content>