<ion-header>
		<ion-navbar color="primary">
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title>Sub category</ion-title>
		</ion-navbar>
	</ion-header>
	
	<ion-content  class="dark">
			<ion-slides  autoplay=3000  slidesPerView=1>
					<ion-slide >
							<img src="../../assets/imgs/banner2.png" alt="">
						</ion-slide>  
			</ion-slides>

			<ion-grid class="item-grid-view product-grid-view grid">
					<ion-row class="row">
					  <ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							  <img src="../../assets/imgs/jacket1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							<a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Jacket
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <span class="product-new-price">$10</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/bagpack1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Bag Pack
							</ion-card-title>
							<div class="product-price">
							  <span>$100</span>
							  
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/shirt1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Blue Shirt
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$40</span>
							  <span class="product-new-price">$30</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/shirt2.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Green Shirt
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <span class="product-new-price">$10</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image" >
							<img src="../../assets/imgs/jacket2.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Jacket
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <span class="product-new-price">$10</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/shoes1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Shoes
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <span class="product-new-price">$10</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/jacket1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Jacket
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <span class="product-new-price">$10</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/bagpack1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Bag Pack
							</ion-card-title>
							<div class="product-price">
							  <span>$100</span>
							  
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image" >
							<img src="../../assets/imgs/shirt1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							  <a href="#" (click)="product()">
							<ion-card-title class="card-title card-title-md">
							  Blue Shirt
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$40</span>
							  <span class="product-new-price">$30</span>
							</div>
							</a>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image">
							<img src="../../assets/imgs/shirt2.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							<ion-card-title class="card-title card-title-md">
							  Green Shirt
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <span class="product-new-price">$10</span>
							</div>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image" >
							<img src="../../assets/imgs/jacket2.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							<ion-card-title class="card-title card-title-md">
							  Jacket
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <!----><span class="product-new-price">$10</span>
							</div>
						  </ion-card-content>
						</ion-card>
					  </ion-col><ion-col class="col" col-6="">
						<ion-card class="item card card-md">
						  <div class="item-image" >
							<img src="../../assets/imgs/shoes1.png" class="home_images">
						  </div>
						  <ion-card-content class="card-content card-content-md">
							<ion-card-title class="card-title card-title-md">
							  Shoes
							</ion-card-title>
							<div class="product-price">
							  <span class="product-old-price">$20</span>
							  <!----><span class="product-new-price">$10</span>
							</div>
						  </ion-card-content>
						</ion-card>
					  </ion-col>
					</ion-row>
				  </ion-grid>
			
		
	</ion-content>
	
