page-category {
  
    ion-content {
        
        .scroll-content,
        fixed-content {
            
            
            ion-slides{
                height: 35%;
                .slide-zoom{
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        
            .grid{

                .col{
                    padding:1px;
                    ion-card{                        
                        border-radius: 0;
                        width: 100%;
                        margin: 1px;
                        ion-card-content{
                            padding: 1px 13px;
                        }
                        
                    }
                }
            }
        }
    }

    // .card-background-page {

    //     ion-card {
    //       position: relative;
    //       text-align: center;
    //     }
      
    //     .card-title {
    //       position: absolute;
    //       top: 36%;
    //       font-size: 2.0em;
    //       width: 100%;
    //       font-weight: bold;
    //       color: #fff;
    //     }
      
    //     .card-subtitle {
    //       font-size: 1.0em;
    //       position: absolute;
    //       top: 52%;
    //       width: 100%;
    //       color: #fff;
    //     }
      
    //   }
    .scroll-content {
        background-color: rgba(29,29,38,.03);
      }
      .item-image{
        width: 100%;
        background-size: contain;
        background-position: center;
        border: 1px solid transparent;
        background-color: #eee;
        background-repeat: no-repeat;
    
      }
      .home_images{
        widows: 173px;
        height: 211px;;
      }
}
