page-cart {
    .list-view .list-item .item-image {
        width: 140px;
        height: 140px;
        background-size: contain;
        background-position: center;
        border: 1px solid transparent;
        background-color: #eee;
        background-repeat: no-repeat;
    }
    .item-md.item-block {
        min-height: 58px;
        border-bottom: 1px solid rgba(29,29,38,.05);
    }
    
    .item-md {
        padding-left: 24px;
        padding-right: 0;
        position: relative;
        /* font-size: 14px; */
        /* font-weight: 400; */
        /* text-transform: none; */
        /* color: #000; */
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1);
    }
    .item-block {
        margin: 0;
        padding: 0;
        text-align: initial;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        min-height: 4.4rem;
        border: 0;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        color: inherit;
    }
    .item {
        contain: content;
    }
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        /* overflow-x: hidden; */
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    .cart-list .list-item.item-md .item-quantity-selector {
        margin-top: 24px;
        border: 1px solid #dbdbdb;
        border-radius: 100px;
        max-width: 160px;
    }
    .item-md.item-block {
        /* min-height: 58px; */
        border-bottom: 1px solid rgba(29,29,38,.05);
    }
    
    .item-md {
        padding-left: 24px;
        padding-right: 0;
        position: relative;
        /* font-size: 14px; */
        /* font-weight: 400; */
        /* text-transform: none; */
        /* color: #000; */
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1);
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        width: 140px;
        height: 140px;
    }
    .button-block-md {
        margin-left: 0;
        margin-right: 0;
    }
    
    .button-md {
        border-radius: 0;
        overflow: hidden;
        height: 55px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: capitalize;
        color: #fff;
        background-color: #50d2c2;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1);
        transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        margin: .4rem .2rem;
        padding: 0 1.1em;
    }
    .button-block {
        display: block;
        clear: both;
        width: 100%;
        contain: strict;
    }
}
