<style>
    .clearfix::after {
        display: block;
        content: "";
        clear: both;
    }

    .select {
        position: relative;
        height: 47.5px;
        background: white;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
    }

    .select:after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        right: 10px;
        bottom: 0;
        margin: auto;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #50D2C2 transparent transparent transparent;
        pointer-events: none;
    }

    .select:before {
        width: 30px;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        background: whitesmoke;
        content: '';
        pointer-events: none;
    }

    .select:hover:before {
        background: #EEEEEE;
    }

    .select select {
        font-size: 14px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background: transparent;
        height: 100%;
        width: 100%;
        cursor: pointer;
        outline: none;
        padding-right: 35px;
        padding-left: 15px;
        border: 1px solid #50D2C2;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .select select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

    .select select::-ms-expand {
        display: none;
    }

    .select select:focus {
        border-color: #50D2C2;
    }

    @media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
        .select select {
            padding-right: 0;
        }
        .select:after,
        .select:before {
            display: none;
        }
    }

    .container {
        width: 420px;
        margin: auto;
        margin-top: 16px;
        /* top: 50%; */
        /* position: relative; */
        /* transform: translate3d(0, -50%, 0); */
    }

    body,
    html {
        width: 100%;
        height: 100%;
        margin: 0;
        background: #50D2C2;
    }
</style>

<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content content-md">
    <div class="fixed-content" style="margin-top: 64px;"></div>
    <div class="scroll-content" style="margin-top: 64px;">
       <ion-list class="list-view cart-list list list-md">
          <!---->
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image" >
                  <img src="../../assets/imgs/jacket1.png">
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Jacket</h2>
                      <p>Lorem ipsum dolor • 2018</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </p>
                      <ion-row align-items-center="" class="item-quantity-selector row" text-center="">
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            1
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                      </ion-row>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                  <img src="../../assets/imgs/bagpack1.png">
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Bag Pack</h2>
                      <p>Lorem ipsum dolor • 2018</p>
                      <p class="product-price">
                         <span>$100</span>
                         <!---->
                      </p>
                      <ion-row align-items-center="" class="item-quantity-selector row" text-center="">
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            1
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                      </ion-row>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image" >
                  <img src="../../assets/imgs/shirt1.png">
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Blue Shirt</h2>
                      <p>Lorem ipsum dolor • 2018</p>
                      <p class="product-price">
                         <span class="product-old-price">$40</span>
                         <!----><span class="product-new-price">$30</span>
                      </p>
                      <ion-row align-items-center="" class="item-quantity-selector row" text-center="">
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            1
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                      </ion-row>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image" >
                  <img src="../../assets/imgs/shirt2.png">
                </div>
             </ion-thumbnail>
            
                   <ion-label class="label label-md">
                      <h2>Green Shirt</h2>
                      <p>Lorem ipsum dolor • 2018</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </p>
                      <ion-row align-items-center="" class="item-quantity-selector row" text-center="">
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            1
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                      </ion-row>
                   </ion-label>
                

             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image" >
                  <img src="../../assets/imgs/jacket2.png">
                </div>
             </ion-thumbnail>
            
                   <ion-label class="label label-md">
                      <h2>Jacket</h2>
                      <p>Lorem ipsum dolor • 2018</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </p>
                      <ion-row align-items-center="" class="item-quantity-selector row" text-center="">
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            1
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                      </ion-row>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                  <img src="../../assets/imgs/shoes1.png">
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Shoes</h2>
                      <p>Lorem ipsum dolor • 2018</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </p>
                      <ion-row align-items-center="" class="item-quantity-selector row" text-center="">
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-remove" role="img" class="icon icon-md ion-md-remove" aria-label="remove"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            1
                         </ion-col>
                         <ion-col class="col" no-padding="">
                            <button clear="" color="dark" icon-only="" ion-button="" small="" class="button button-md button-clear button-clear-md button-small button-small-md button-clear-md-dark">
                               <span class="button-inner">
                                  <ion-icon name="md-add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon>
                               </span>
                               <div class="button-effect"></div>
                            </button>
                         </ion-col>
                      </ion-row>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
       </ion-list>
       <div class="button-container">
          <button block="" ion-button="" class="button button-md button-default button-default-md button-block button-block-md">
             <span class="button-inner">Continue Order</span>
             <div class="button-effect"></div>
          </button>
       </div>
    </div>
 </ion-content>
