
<ion-header>
    <ion-navbar color="">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Home</ion-title>
      <br>

  
    <ion-buttons right="" class="bar-buttons bar-buttons-md">
        <button icon-only="" ion-button="" class="bar-button bar-button-md bar-button-default bar-button-default-md">
          <span class="button-inner">
          <ion-icon name="ios-search-outline" role="img" class="icon icon-md ion-ios-search-outline" aria-label="search outline"></ion-icon>
        </span>
        <!-- <div class="button-effect"></div> -->
      </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content class="content content-md">
    <div class="scroll-content" style="">
      <ion-grid class="item-grid-view product-grid-view grid">
        <ion-row class="row">

          <ion-col class="col" col-6="" *ngFor="let cate of mydata">
            <ion-card class="item card card-md">
              <div class="item-image">
                <a href="#" (click)="getSubCategory(cate.category_id)">
                  <img src="../../assets/imgs/jacket1.png" class="home_images">
                </a>
              </div>
              <ion-card-content class="card-content card-content-md">
                <a href="#" (click)="category(cate.category_id)">
                <ion-card-title class="card-title card-title-md">
                  {{cate.name}}
                </ion-card-title>
                <!-- <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <span class="product-new-price">$10</span>
                </div> -->
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/bagpack1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Bag Pack
                </ion-card-title>
                <div class="product-price">
                  <span>$100</span>
                  
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/shirt1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Blue Shirt
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$40</span>
                  <span class="product-new-price">$30</span>
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/shirt2.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Green Shirt
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <span class="product-new-price">$10</span>
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image" >
                <img src="../../assets/imgs/jacket2.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Jacket
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <span class="product-new-price">$10</span>
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/shoes1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Shoes
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <span class="product-new-price">$10</span>
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/jacket1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Jacket
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <span class="product-new-price">$10</span>
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/bagpack1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Bag Pack
                </ion-card-title>
                <div class="product-price">
                  <span>$100</span>
                  
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image" >
                <img src="../../assets/imgs/shirt1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                  <a href="#" (click)="category()">
                <ion-card-title class="card-title card-title-md">
                  Blue Shirt
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$40</span>
                  <span class="product-new-price">$30</span>
                </div>
                </a>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image">
                <img src="../../assets/imgs/shirt2.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                <ion-card-title class="card-title card-title-md">
                  Green Shirt
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <span class="product-new-price">$10</span>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image" >
                <img src="../../assets/imgs/jacket2.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                <ion-card-title class="card-title card-title-md">
                  Jacket
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <!----><span class="product-new-price">$10</span>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col><ion-col class="col" col-6="">
            <ion-card class="item card card-md">
              <div class="item-image" >
                <img src="../../assets/imgs/shoes1.png" class="home_images">
              </div>
              <ion-card-content class="card-content card-content-md">
                <ion-card-title class="card-title card-title-md">
                  Shoes
                </ion-card-title>
                <div class="product-price">
                  <span class="product-old-price">$20</span>
                  <!----><span class="product-new-price">$10</span>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>