page-home {
  .scroll-content {
    background-color: rgba(29,29,38,.03);
  }
  .item-image{
    width: 100%;
    background-size: contain;
    background-position: center;
    border: 1px solid transparent;
    background-color: #eee;
    background-repeat: no-repeat;

  }
  .home_images{
    widows: 173px;
    height: 211px;;
  }
}