<style>.menu-header[_ngcontent-c0] {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    border-bottom: 0 !important;
    padding-left: 0 !important;
}</style>

<ion-header>
    <ion-navbar >
       <ion-title text-center>Products</ion-title>
       <ion-buttons right>
          <button ion-button  >
             <ion-icon name="cart" class="cart-icon"></ion-icon>
             <ion-badge *ngIf="badge">cartItem</ion-badge>
          </button>
       </ion-buttons>
    </ion-navbar>
 </ion-header>
 <ion-content class="content content-md">
    <div class="fixed-content" style="margin-top: 64px;"></div>
    <div class="scroll-content" style="margin-top: 64px;">
       <ion-list class="list-view product-list-view list list-md">
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/jacket1.png"> </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Jacket</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
               
             <div class="button-effect">
             </div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/bagpack1.png"> </a>
                </div>
             </ion-thumbnail>
            
                   <ion-label class="label label-md">
                      <h2>Bag Pack</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span>$100</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image" >
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/shirt1.png"> </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Blue Shirt</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$40</span>
                         <span class="product-new-price">$30</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/shirt2.png"> </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Green Shirt</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                  <img src="../../assets/imgs/jacket2.png">
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Jacket</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/shoes1.png"> </a>
                </div>
             </ion-thumbnail>
            
                   <ion-label class="label label-md">
                      <h2>Shoes</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect">
             </div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                  <a href="#" (click)="productDetail()">
                      <a href="#" (click)="productDetail()">
                    <img src="../../assets/imgs/jacket1.png"> </a>
                    </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Jacket</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="assets/imgs/bagpack1.png"> </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Bag Pack</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span>$100</span>
                      </p>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image" >
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/shirt1.png"> </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Blue Shirt</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$40</span>
                         <span class="product-new-price">$30</span>
                      </p>
                   </ion-label>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image"> 
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/shirt2.png"> </a>
                </div>
             </ion-thumbnail>
           
                   <ion-label class="label label-md">
                      <h2>Green Shirt</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/jacket2.png"> </a>
                </div>
             </ion-thumbnail>
             
                   <ion-label class="label label-md">
                      <h2>Jacket</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="list-item item item-block item-md">
             <ion-thumbnail class="item-image" item-start="">
                <div class="item-image">
                    <a href="#" (click)="productDetail()">
                  <img src="../../assets/imgs/shoes1.png"> </a>
                </div>
             </ion-thumbnail>
            
                   <ion-label class="label label-md">
                      <h2>Shoes</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium facilis aspernatur et corrupti, iusto, itaque dolore dicta incidunt odit ducimus dolor, illum mollitia. Architecto recusandae tempore aperiam accusantium velit.</p>
                      <p class="product-price">
                         <span class="product-old-price">$20</span>
                         <span class="product-new-price">$10</span>
                      </p>
                   </ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
       </ion-list>
    </div>
 </ion-content>