page-product {
    .product_img{
        widows: 125px;
        height: 125px;;
    }
    .item-md {
        padding-left: 24px;
        /* padding-right: 0; */
        position: relative;
        /* font-size: 14px; */
        /* font-weight: 400; */
        /* text-transform: none; */
        /* color: #000; */
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1);
    }
    .item-md.item-block {
        min-height: 58px;
        border-bottom: 1px solid rgba(29,29,38,.05);
    }
    .input-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: inherit;
        -webkit-box-direction: inherit;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
        -webkit-box-align: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        text-overflow: ellipsis;
    }
    ion-item.item-md.item-block .item-inner p {
        margin: 0;
        margin-top: 10px;
        color: rgba(29,29,38,.5);
    }
 }
   