<style>
  .menu-header {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    border-bottom: 0 !important;
    padding-left: 0 !important;
}
</style>
<ion-menu [content]="content">
  <div class="menu-inner" style="transform: translateX(0px);" >
    <ion-content class="content content-md">
      
      <ion-list class="menu-list list list-md">
        <ion-item class="menu-header item item-block item-md">
          <ion-avatar class="header-image" item-start="">
            <img src="../assets/imgs/products.jpg">  
          </ion-avatar>
              <ion-label class="label label-md"> 
                <h2 class="menu-title" style="color:red !important;">John Doe</h2>
                <p>test@example.com</p>
              </ion-label>
        </ion-item>
        <button class="menu-item item item-block item-md active" ion-item="" menuclose="" (click)="homePage('HomePage')">
          <ion-icon class="item-icon icon icon-md ion-ios-home-outline" item-start="" role="img" aria-label="home outline"></ion-icon>
              <ion-label class="label label-md">
                <p class="item-title">Home</p>
              </ion-label>
          <div class="button-effect" style="transform: translate3d(-70px, -39px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
          </div>
        </button
        >
        <button class="menu-item item item-block item-md" ion-item="" menuclose="">
          <ion-icon class="item-icon icon icon-md ion-ios-search-outline" item-start="" role="img" aria-label="search outline"></ion-icon>
          
              <ion-label class="label label-md">
                <p class="item-title">Search</p>
              </ion-label>
           
          <div class="button-effect" style="transform: translate3d(13px, -40px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
          </div>
        </button>
        <button class="menu-item item item-block item-md" ion-item="" menuclose="">
          <ion-icon class="item-icon icon icon-md ion-ios-list-outline" item-start="" role="img" aria-label="list outline"></ion-icon>
          
              <ion-label class="label label-md">
                <p class="item-title">Product List View</p>
              </ion-label>
           
        <div class="button-effect" style="transform: translate3d(-7px, -28px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
        </div>
      </button>
      <button class="menu-item item item-block item-md" ion-item="" menuclose="">
        <ion-icon class="item-icon icon icon-md ion-ios-create-outline" item-start="" role="img" aria-label="create outline"></ion-icon>
   
            <ion-label class="label label-md">
              <p class="item-title">Product Details</p>
            </ion-label>
       
        <div class="button-effect">       
        </div>
      </button>
      <button class="menu-item item item-block item-md" ion-item="" menuclose="">
        <ion-icon class="item-icon icon icon-md ion-ios-grid-outline" item-start="" role="img" aria-label="grid outline"></ion-icon>
          
              <ion-label class="label label-md">
                <p class="item-title">Categories Grid View</p>
              </ion-label>
          
            <div class="button-effect" style="transform: translate3d(18px, -46px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
            </div>
          </button>
          <button class="menu-item item item-block item-md" ion-item="" menuclose="">
            <ion-icon class="item-icon icon icon-md ion-ios-list-outline" item-start="" role="img" aria-label="list outline"></ion-icon>
        
                <ion-label class="label label-md">
                  <p class="item-title">Categories List View</p>
                </ion-label>
            
            <div class="button-effect" style="transform: translate3d(51px, -38px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
            </div>
          </button>
          <button class="menu-item item item-block item-md" ion-item="" menuclose="" (click)="cart()">
            <ion-icon class="item-icon icon icon-md ion-ios-cart-outline" item-start="" role="img" aria-label="cart outline"></ion-icon>
         
                <ion-label class="label label-md">
                  <p class="item-title">Cart</p>
                </ion-label>
             
          <div class="button-effect" style="transform: translate3d(15px, -41px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
          </div>
        </button>
        <button class="menu-item item item-block item-md" ion-item="" menuclose="">
          <ion-icon class="item-icon icon icon-md ion-ios-heart-outline" item-start="" role="img" aria-label="heart outline"></ion-icon>
          
              <ion-label class="label label-md">
                <p class="item-title">Wishlist</p>
              </ion-label>
            
          <div class="button-effect" style="transform: translate3d(20px, -36px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
          </div>
        </button>
        <button class="menu-item item item-block item-md" ion-item="" menuclose="">
          <ion-icon class="item-icon icon icon-md ion-ios-card-outline" item-start="" role="img" aria-label="card outline"></ion-icon>
          
              <ion-label class="label label-md">
              <p class="item-title">Card</p>
        </ion-label>
     
    <div class="button-effect" style="transform: translate3d(14px, -50px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
    </div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="">
    <ion-icon class="item-icon icon icon-md ion-ios-cube-outline" item-start="" role="img" aria-label="cube outline">    
    </ion-icon>

        <ion-label class="label label-md">
          <p class="item-title">Delivery</p>
        </ion-label>
    
    <div class="button-effect" style="transform: translate3d(20px, -50px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;"></div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="">
    <ion-icon class="item-icon icon icon-md ion-ios-pizza-outline" item-start="" role="img" aria-label="pizza outline">      
    </ion-icon>
        <ion-label class="label label-md">
          <p class="item-title">Orders</p>
        </ion-label>
    
    <div class="button-effect" style="transform: translate3d(11px, -36px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
    </div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="">
    <ion-icon class="item-icon icon icon-md ion-ios-chatbubbles-outline" item-start="" role="img" aria-label="chatbubbles outline">
    </ion-icon>
  
        <ion-label class="label label-md">
          <p class="item-title">Comments</p>
        </ion-label>
     
    <div class="button-effect">     
    </div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="" (click)="loginPage()">
    <ion-icon class="item-icon icon icon-md ion-ios-log-in-outline" item-start="" role="img" aria-label="log in-outline">
    </ion-icon>
        <ion-label class="label label-md">
          <p class="item-title">Login</p>
        </ion-label>
     
    <div class="button-effect" style="transform: translate3d(-10px, -31px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;"></div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="" (click)="register()">
    <ion-icon class="item-icon icon icon-md ion-ios-person-add-outline" item-start="" role="img" aria-label="person add-outline">      
    </ion-icon>
   
        <ion-label class="label label-md">
          <p class="item-title">Signup</p>
        </ion-label>
    
    <div class="button-effect" style="transform: translate3d(24px, -38px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;"></div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="" (click)="forgotPassword()">
    <ion-icon class="item-icon icon icon-md ion-ios-key-outline" item-start="" role="img" aria-label="key outline">    
    </ion-icon>
  
        <ion-label class="label label-md">  
          <p class="item-title">Forgot Password</p>
        </ion-label>
      
    <div class="button-effect">      
    </div>
  </button>
  <button class="menu-item item item-block item-md" ion-item="" menuclose="" (click)="resetPassword()">
    <ion-icon class="item-icon icon icon-md ion-ios-refresh-outline" item-start="" role="img" aria-label="refresh outline">    
    </ion-icon>
    
        <ion-label class="label label-md"> 
          <p class="item-title">Reset Password</p>
        </ion-label>
    
    <div class="button-effect" style="transform: translate3d(39px, -61px, 0px) scale(1); height: 140px; width: 140px; opacity: 0; transition: transform 389ms ease 0s, opacity 273ms ease 116ms;">
    </div>
  </button>
      </ion-list>
  </ion-content>
  </div>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>