page-forgotpassword {
    .scroll-content {
        padding: 24px;
    }
    
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        /* overflow-x: hidden; */
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    .button-container {
        margin-top: 40px;
    }
    .button-block-md {
        margin-left: 0;
        margin-right: 0;
    }
    
    .button-md {
        border-radius: 0;
        overflow: hidden;
        height: 55px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: capitalize;
        color: #fff;
        background-color: #50d2c2;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1);
        transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        margin: .4rem .2rem;
        padding: 0 1.1em;
    }
    .button-block {
        display: block;
        clear: both;
        width: 100%;
        contain: strict;
    }
}
