<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content content-md">
    <div class="fixed-content" style="margin-top: 64px;"></div>
    <div class="scroll-content" style="margin-top: 64px;">
       <ion-list class="page-form list list-md">
          <ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
             
                   <ion-label class="item-label label label-md" stacked="" id="lbl-170">Email address</ion-label>
                   <!---->
                   <ion-input type="email" value="admin@admin.com" class="input input-md">
                      <!----><input class="text-input text-input-md" dir="auto" type="email" aria-labelledby="lbl-170" autocomplete="off" autocorrect="off" placeholder=""><!----><!----><!---->
                   </ion-input>
                
             <div class="button-effect"></div>
          </ion-item>
       </ion-list>
       <div class="button-container">
          <button block="" ion-button="" class="button button-md button-default button-default-md button-block button-block-md">
             <span class="button-inner">Send Email</span>
             <div class="button-effect"></div>
          </button>
       </div>
    </div>
 </ion-content>
