<ion-header>
    <ion-navbar>
       <ion-title text-center>APPARADOOR</ion-title>
       <ion-buttons right>
         <button ion-button color="dark" >
           <ion-icon name="cart" class="cart-icon"></ion-icon>
           <ion-badge *ngIf="badge">cartIte}</ion-badge>
         </button>
       </ion-buttons>
   </ion-navbar>
 </ion-header>
 
 
 <ion-content class="content content-md">

    <div class="scroll-content" style="">
       <ion-slides class="product-image-container slides slides-md slides-0" pager="">
          <div class="swiper-container swiper-container-horizontal">
             <div class="swiper-wrapper">
                <ion-slide class="swiper-slide swiper-slide-active" style="width: 358px;">
                   <div class="slide-zoom">
                      <div class="product-image" >
                        <img src="../../assets/imgs/jacket1.png">
                      </div>
                   </div>
                </ion-slide>
                <ion-slide class="swiper-slide swiper-slide-next" aria-hidden="true" style="width: 358px;">
                   <div class="slide-zoom">
                      <div class="product-image">
                        <img src="../../assets/imgs/bagpack1.png">
                      </div>
                   </div>
                </ion-slide>
                <ion-slide class="swiper-slide" aria-hidden="true" style="width: 358px;">
                   <div class="slide-zoom">
                      <div class="product-image" >
                        <img src="../../assets/imgs/shirt1.png">
                      </div>
                   </div>
                </ion-slide>
                <ion-slide class="swiper-slide" aria-hidden="true" style="width: 358px;">
                   <div class="slide-zoom">
                      <div class="product-image" >
                        <img src="../../assets/imgs/shirt2.png">
                      </div>
                   </div>
                </ion-slide>
                <ion-slide class="swiper-slide" aria-hidden="true" style="width: 358px;">
                   <div class="slide-zoom">
                      <div class="product-image">
                        <img src="../../assets/imgs/jacket2.png">
                      </div>
                   </div>
                </ion-slide>
                <ion-slide class="swiper-slide" aria-hidden="true" style="width: 358px;">
                   <div class="slide-zoom">
                      <div class="product-image" >
                        <img src="../../assets/imgs/shoes1.png">
                      </div>
                   </div>
                </ion-slide>
             </div>
             <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><button class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-label="Go to slide 1" data-slide-index="0"></button><button class="swiper-pagination-bullet" aria-label="Go to slide 2" data-slide-index="1"></button><button class="swiper-pagination-bullet" aria-label="Go to slide 3" data-slide-index="2"></button><button class="swiper-pagination-bullet" aria-label="Go to slide 4" data-slide-index="3"></button><button class="swiper-pagination-bullet" aria-label="Go to slide 5" data-slide-index="4"></button><button class="swiper-pagination-bullet" aria-label="Go to slide 6" data-slide-index="5"></button></div>
          </div>
       </ion-slides>
       <div class="page-header-container">
          <ion-fab right="">
             <button class="choose-product-options-button fab fab-md" ion-fab="">
                <ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img" aria-label="close"></ion-icon>
                <span class="button-inner">
                   <ion-icon name="ios-more-outline" role="img" class="icon icon-md ion-ios-more-outline" aria-label="more outline"></ion-icon>
                </span>
                <div class="button-effect" style="transform: translate3d(-20px, -33px, 0px) scale(1); height: 99px; width: 99px; opacity: 0; transition: transform 301ms ease 0s, opacity 211ms ease 90ms;"></div>
             </button>
          </ion-fab>
          <ion-list-header class="item item-md list-header list-header-md">
             <div class="item-inner">
                <div class="input-wrapper">
                   <!---->
                   <ion-label class="label label-md">Green Jacket</ion-label>
                </div>
                <!---->
             </div>
             <div class="button-effect"></div>
          </ion-list-header>
       </div>
       <div class="product-details">
          <div class="product-price">$123</div>
          <div class="product-description">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate corrupti ea at debitis molestias velit minima quae nostrum repudiandae. Dolorem, veritatis numquam molestias sapiente cum atque. Ipsam provident mollitia eveniet.
          </div>
          <div class="product-label">Size</div>
          <div class="product-description">37mm diameter, 9.5mm thick</div>
          <div class="product-label">Architecture</div>
          <div class="product-description">M-Line lugless case with pressed bezel and screwed in case back</div>
          <div class="product-label">Lorem ipsum</div>
          <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="product-label">Lorem ipsum</div>
          <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="product-label">Lorem ipsum</div>
          <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="product-label">Lorem ipsum</div>
          <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="product-label">Lorem ipsum</div>
          <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <button class="show-more-button button button-md button-clear button-clear-md" clear="" ion-button="">
             <span class="button-inner">Show more...</span>
             <div class="button-effect"></div>
          </button>
       </div>
       <ion-list class="product-attribute-list list list-md" radio-group="" role="radiogroup" aria-describedby="rg-hdr-0" aria-activedescendant="rb-98-0">
          <ion-list-header class="item item-md list-header list-header-md" id="rg-hdr-0">
             <div class="item-inner">
                <div class="input-wrapper">
                   <!---->
                   <ion-label class="label label-md">Select Size</ion-label>
                </div>
                <!---->
             </div>
             <div class="button-effect"></div>
          </ion-list-header>
          <ion-item class="product-attribute item item-block item-md item-radio item-radio-md-primary item-radio-checked">
             <ion-radio checked="true" color="primary" item-start="" class="radio radio-md radio-md-primary">
                
                <button class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="radio" type="button" id="rb-98-0" aria-checked="true" aria-labelledby="lbl-98" aria-disabled="false">
                   <span class="button-inner"> </span>
                   <div class="button-effect"></div>
                </button>
             </ion-radio>
            
                   <ion-label class="label label-md" id="lbl-98">Small</ion-label>
                 
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="product-attribute item item-block item-md item-radio item-radio-md-primary">
             <ion-radio color="primary" item-start="" class="radio radio-md radio-md-primary">
               
                <button class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="radio" type="button" id="rb-99-0" aria-checked="false" aria-labelledby="lbl-99" aria-disabled="false">
                   <span class="button-inner"> </span>
                   <div class="button-effect"></div>
                </button>
             </ion-radio>
             
                   <ion-label class="label label-md" id="lbl-99">Medium</ion-label>
                 
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="product-attribute item item-block item-md item-radio item-radio-md-primary">
             <ion-radio color="primary" item-start="" class="radio radio-md radio-md-primary">
                
                <button class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="radio" type="button" id="rb-100-0" aria-checked="false" aria-labelledby="lbl-100" aria-disabled="false">
                   <span class="button-inner"> </span>
                   <div class="button-effect"></div>
                </button>
             </ion-radio>
             
                   <ion-label class="label label-md" id="lbl-100">Large</ion-label>
                 
             <div class="button-effect"></div>
          </ion-item>
       </ion-list>
       <ion-list class="product-attribute-list list list-md">
          <ion-list-header class="item item-md list-header list-header-md">
             
                   <ion-label class="label label-md">Variation</ion-label>
                
             <div class="button-effect"></div>
          </ion-list-header>
          <ion-item class="product-attribute item item-block item-md item-checkbox item-checkbox-checked">
             <ion-checkbox checked="true" color="primary" class="checkbox checkbox-md checkbox-md-primary">
                
                <button class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="checkbox" type="button" id="checkbox-102-0" aria-checked="true" aria-labelledby="lbl-102" aria-disabled="false">
                   <span class="button-inner"> </span>
                   <div class="button-effect"></div>
                </button>
             </ion-checkbox>
            
                   <ion-label class="label label-md" id="lbl-102">Light</ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="product-attribute item item-block item-md item-checkbox">
             <ion-checkbox color="primary" class="checkbox checkbox-md checkbox-md-primary">
               
                <button class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="checkbox" type="button" id="checkbox-103-0" aria-checked="false" aria-labelledby="lbl-103" aria-disabled="false">
                   <span class="button-inner"> </span>
                   <div class="button-effect"></div>
                </button>
             </ion-checkbox>
            
                   <ion-label class="label label-md" id="lbl-103">Medium</ion-label>
                 
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="product-attribute item item-block item-md item-checkbox item-checkbox-checked">
             <ion-checkbox checked="true" color="primary" class="checkbox checkbox-md checkbox-md-primary">
                
                <button class="item-cover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="checkbox" type="button" id="checkbox-104-0" aria-checked="true" aria-labelledby="lbl-104" aria-disabled="false">
                   <span class="button-inner"> </span>
                   <div class="button-effect"></div>
                </button>
             </ion-checkbox>
            
                   <ion-label class="label label-md" id="lbl-104">Dark</ion-label>
                
             <div class="button-effect"></div>
          </ion-item>
       </ion-list>
       <div class="button-container">
          <button block="" ion-button="" class="button button-md button-default button-default-md button-block button-block-md">
             <span class="button-inner">Add to cart</span>
             <div class="button-effect" style="transform: translate3d(-8px, -83px, 0px) scale(1); height: 240px; width: 240px; opacity: 0; transition: transform 404ms ease 0s, opacity 283ms ease 121ms;"></div>
          </button>
       </div>
       <ion-list-header class="item item-md list-header list-header-md">
          
                <ion-label class="label label-md">You may like</ion-label>
             
          <div class="button-effect"></div>
       </ion-list-header>
       <ion-grid class="item-grid-view product-grid-view grid">
          <ion-row class="row">
             <!---->
             <ion-col class="col" col-6="">
                <ion-card class="item card card-md">
                   <div class="item-image">
                    <img src="../../assets//imgs/jacket1.png">
                  </div>
                   <ion-card-content class="card-content card-content-md">
                      <ion-card-title class="card-title card-title-md">
                         Jacket
                      </ion-card-title>
                      <div class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </div>
                   </ion-card-content>
                </ion-card>
             </ion-col>
             <ion-col class="col" col-6="">
                <ion-card class="item card card-md">
                   <div class="item-image" >
                    <img src="../../assets//imgs/bagpack1.png">
                  </div>
                   <ion-card-content class="card-content card-content-md">
                      <ion-card-title class="card-title card-title-md">
                         Bag Pack
                      </ion-card-title>
                      <div class="product-price">
                         <span>$100</span>
                         <!---->
                      </div>
                   </ion-card-content>
                </ion-card>
             </ion-col>
             <ion-col class="col" col-6="">
                <ion-card class="item card card-md">
                   <div class="item-image" >
                    <img src="../../assets//imgs/shirt1.png">
                  </div>
                   <ion-card-content class="card-content card-content-md">
                      <ion-card-title class="card-title card-title-md">
                         Blue Shirt
                      </ion-card-title>
                      <div class="product-price">
                         <span class="product-old-price">$40</span>
                         <!----><span class="product-new-price">$30</span>
                      </div>
                   </ion-card-content>
                </ion-card>
             </ion-col>
             <ion-col class="col" col-6="">
                <ion-card class="item card card-md">
                   <div class="item-image">
                    <img src="../../assets//imgs/shirt2.png">
                  </div>
                   <ion-card-content class="card-content card-content-md">
                      <ion-card-title class="card-title card-title-md">
                         Green Shirt
                      </ion-card-title>
                      <div class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </div>
                   </ion-card-content>
                </ion-card>
             </ion-col>
             <ion-col class="col" col-6="">
                <ion-card class="item card card-md">
                   <div class="item-image">
                    <img src="../../assets//imgs/jacket2.png">
                  </div>
                   <ion-card-content class="card-content card-content-md">
                      <ion-card-title class="card-title card-title-md">
                         Jacket
                      </ion-card-title>
                      <div class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </div>
                   </ion-card-content>
                </ion-card>
             </ion-col>
             <ion-col class="col" col-6="">
                <ion-card class="item card card-md">
                   <div class="item-image">
                    <img src="../../assets//imgs/shoes1.png">
                  </div>
                   <ion-card-content class="card-content card-content-md">
                      <ion-card-title class="card-title card-title-md">
                         Shoes
                      </ion-card-title>
                      <div class="product-price">
                         <span class="product-old-price">$20</span>
                         <!----><span class="product-new-price">$10</span>
                      </div>
                   </ion-card-content>
                </ion-card>
             </ion-col>
          </ion-row>
       </ion-grid>
    </div>
 </ion-content>
 