page-productdetail {
    .inline-title{
        margin-left:15px;
        margin-right:5px;
    }
    .single-desc{
        color:  #666666;	
    }
    .single-price{
        color: #FF6500;
    }
    .button-review{
        padding: 0px 80px;
        margin-left:10px;
    }
    .review-title{
        font-weight:bold;
        font-size:15px;
        
    }
    .review-poster{
        font-size:12px;
        color: #FF6500;
    }
    .review-date{
        font-size:10px;
        color: #222;
        float:right;
    }
   
      rating > ul {
         padding: 0px;
   
        display: block;
       list-style-type: disc;
       -webkit-margin-before: 0px;
       -webkit-margin-after: 0px;
       -webkit-margin-start: 0px;
       -webkit-margin-end: 0px;
       -webkit-padding-start: 0px;
   
         &.rating li {
           padding: 0px !important;
           background: none;
           color: #ffb400;
   
           ion-icon {
             font-size: 15px;
           }
         }
       }
       
       .filters{
           margin-left:18px;
       }

       .product-image-container .product-image {
        width: 100%;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .page-header-container .choose-product-options-button {
        top: -28px;
    }
    .fab-md {
        color: #fff;
        background-color: #50d2c2;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.14), 0 4px 5px rgba(0,0,0,.1);
        box-shadow: 0 4px 6px 0 rgba(0,0,0,.14), 0 4px 5px rgba(0,0,0,.1);
        -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
        transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1);
        transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
    }
    ion-list-header.list-header-md {
        background-color: rgba(29,29,38,.03);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .list-header-md {
        padding-left: 24px;
        margin-bottom: 0;
        min-height: 58px;
        border-top: 0;
        font-size: 11px;
        color: rgba(29,29,38,.5);
    }
    .product-details {
        padding: 0 24px;
    }

.list-md {
    margin: -1px 0 16px;
}

ion-list {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

 .button-container {
    padding: 30px 24px;
}
.button-md {
    border-radius: 0;
    overflow: hidden;
    height: 55px;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    background-color: #50d2c2;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
    transition: background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .3s cubic-bezier(.4,0,.2,1),background-color .3s cubic-bezier(.4,0,.2,1),color .3s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .3s cubic-bezier(.4,0,.2,1);
    margin: .4rem .2rem;
    padding: 0 1.1em;
}

.button-block {
    display: block;
    clear: both;
    width: 100%;
    contain: strict;
}
[ion-button] {
    text-decoration: none;
}


}
