<ion-header>

  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content content-md">
    <div class="fixed-content" style="margin-top: 64px;"></div>
    <div class="scroll-content" style="margin-top: 64px;">
       <ion-list class="page-form list list-md">
          <ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
             
                   <ion-label class="item-label label label-md" stacked="" id="lbl-138">Code in email</ion-label>
                   <!---->
                   <ion-input type="text" value="123456" class="input input-md">
                      <!----><input class="text-input text-input-md" dir="auto" type="text" aria-labelledby="lbl-138" autocomplete="off" autocorrect="off" placeholder=""><!----><!----><!---->
                   </ion-input>
               
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
            
                   <ion-label class="item-label label label-md" stacked="" id="lbl-139">Password</ion-label>
                   <!---->
                   <ion-input type="password" value="admin" class="input input-md">
                      <!----><input class="text-input text-input-md" dir="auto" type="password" aria-labelledby="lbl-139" autocomplete="off" autocorrect="off" placeholder=""><!----><!----><!---->
                   </ion-input>
                
             <div class="button-effect"></div>
          </ion-item>
          <ion-item class="form-item item item-block item-md item-input item-label-stacked input-has-value item-input-has-value">
            
                   <ion-label class="item-label label label-md" stacked="" id="lbl-140">Confirm Password</ion-label>
                   <!---->
                   <ion-input type="password" value="admin" class="input input-md">
                      <!----><input class="text-input text-input-md" dir="auto" type="password" aria-labelledby="lbl-140" autocomplete="off" autocorrect="off" placeholder=""><!----><!----><!---->
                   </ion-input>
            
             <div class="button-effect"></div>
          </ion-item>
       </ion-list>
       <div class="button-container">
          <button block="" ion-button="" class="button button-md button-default button-default-md button-block button-block-md">
             <span class="button-inner">Reset Password</span>
             <div class="button-effect"></div>
          </button>
       </div>
    </div>
 </ion-content>
